
body {
  font-size: 16px;
  margin: 0;
  border: 0;
  font-family: Helvetica;
  height: auto;
  background-color: #FFFFFF;
  width: 100%;
  color: #4A4A4A;

}
@media only screen and (max-width: 980px) and (min-width: 786px) {
body {
    font-size: 12px;
  }
.nav .nav-mobile {
  display: none;
}
}
@media only screen and (max-width: 321px){
  body {
    font-size: 8px;
  }

  .header .logo span {
    display: none;
  }

  .nav .nav-desktop {
    display: none;
  }
}
div {
  /*
  border: 1px solid #D8D8D8;
  */
  display: block;
}

h1{
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-weight: bold;
}

h3 {
  font-size: 2rem;
  text-align: left;
  font-weight: bold;
  padding-top: 1rem;
}

h4 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h5 {
  font-size: 1.25rem;
  text-align: left;
  text-transform: uppercase;
  font-weight: normal;
  padding:  0.5rem 0 0.5rem 0;
}

p {
 font-size: 1rem;
 padding: 1rem 0 1rem 0;
 text-align: left;

}

strong {
  font-weight: bold;
}



/* Header */

header {
  background-color: white;
  display: flex;
  position: relative;
  align-items: center;
  height: 4rem;
  width: 100%;
  font-size: 2rem;
  flex-grow: 3;
  margin: 0;

}

header .logo {
  float: left;
  width: 50%;
  height: auto;
  display: inline-flex;
}

header .logo img {
  height: 3.5rem;
  width: auto;
}

header span {
  display: flex;
  align-items: center;
  font-size: 1rem;

}

#nav {
  display: flex;
  width: 50%;
  height: auto;
  align-items: center;
  justify-content: flex-end;

}

ul {
  list-style-type: none;
  align-items: center;
  float: right;
}

li {
  float: right;
  padding-right: 1rem;
  color: black;
  font-size: 1rem;
}

li a {
  text-decoration: none;
  color: black;
  padding-right: 1rem;
}

li img {
  display: none;
}
@media only screen and (max-width: 980px) and (min-width: 786px) {
body {
    font-size: 12px;
  }
.nav .nav-mobile {
  display: none;
}
}
@media only screen and (max-width: 321px){
  body {
    font-size: 8px;
  }

  .header .logo span {
    display: none;
  }

  .nav .nav-desktop {
    display: none;
  }
}




/* Start */

.start {
  display: flex;
  align-items: center;
  flex-direction: row;
  position: inherit;
  width: 100%;
  background-color: #D8D8D8;
  margin: 0;

}

.start .banner {
  width: 60%;
  height: auto;
  margin-left: 0;
  margin-top: 0;
  position: relative;
  padding: 3rem 2.5rem 3rem 2.5rem;


}

.start .banner img {
  width: 100%;
}

.start .description  {

  display: flex;
  width: 40%;
  height: auto;
  flex-shrink: 3;
  flex-direction: column;
  float: left;
  color: #4A4A4A;
  font-size: 3rem;
  text-align: left;
  line-height: 4rem;
  padding-top: 3rem;


}


.start .description {
  font-size: 3rem;
  text-align: left;
  width: 40%;
  line-height: 4rem;
  padding-top: 3rem;
  flex-shrink: 2;
}

.start .description span {
  font-size: 2rem;
  color: white;
  width: 40%;
  padding: 0.5rem;
  text-align: center;
  background-color: #4A4A4A;

}
@media only screen and (min-width:768px) and (max-width: 1104px){
  div {
    font-size: 70%;
  }
}
/* Information */

.information {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;

}

.information .information-banner {
  width: 60%;
  height: auto;
  margin-left: 0;
  margin-top: 0;
  position: relative;
  padding: 3rem 2.5rem 3rem 2.5rem;

}
.information .information-banner img {
  width: 100%;

}


.information .information-banner p {

  padding-top: 2.5rem;
}

.information .information-side {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-top: 2.5rem


}

.information .information-side p {
  font-size: 1rem;
  padding: 32px 32px;
  flex-shrink: 2;
}

.information .information-side span {
  font-size: 1rem;
  color: mediumblue;
  padding-top: 32px;
  flex-shrink: 2;
}

.information .information-side #orientation {
  height: auto;
  margin-bottom: 1px;

}

.information .information-side #orientation img {
  width: 30%;
  float: left;
  height: auto;
  padding: 16px 16px;
}

.information .information-side #campus {
  width: auto;
  height: auto;
  margin-bottom: 1px;
}

.information .information-side #campus img {
  width: 30%;
  float: left;
  height: auto;
  padding: 16px 16px;
}

.information .information-side #guest-lecture {
  width: auto;
  height: auto;
  margin-bottom: 1px;
}

.information .information-side #guest-lecture img {
  width: 30%;
  float: left;
  height: auto;
  padding: 16px 16px;
}
/* Learn */

.learn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0;
  background-color: #D8D8D8;
  width: 100%;

}

.learn {
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.learn .courses {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.learn .courses .container {
  width: 30%;
  background-color: #FFF;
  margin: 16px;
  align-self: flex-start;

}

.learn .courses .container img {
  width: 100%;

}

.learn .courses .lh4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.learn .courses .lh5 {
  padding-left: 1rem;
}

.learn .courses .lp {
  padding-left: 1rem;
}


/* Thesis */
.thesis {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.thesis-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  height: auto;
  justify-content: flex-start;
}

#thesis-video {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 3rem 2.5rem 3rem 2.5rem;
}



#thesis-video video {
  width: 100%;
  height: auto;
  padding-right: 16px;
}



#thesis-video {
  font-size: 2rem;
  padding-bottom: 3rem;
}


.thesis .thesis-container .thesis-side {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: auto;
  justify-content: flex-start;
  margin-top: 3rem

}


.thesis .thesis-container .thesis-side #fisma {
  height: auto;
  margin-bottom: 1px;

}

.thesis .thesis-container .thesis-side #fisma img {
  width: 30%;
  float: left;
  height: auto;
  padding: 16px 16px;

}

.thesis .thesis-container .thesis-side #now-and-then {
  height: auto;
  margin-bottom: 1px;

}

.thesis .thesis-container .thesis-side #now-and-then img {
  width: 30%;
  float: left;
  height: auto;
  padding: 16px 16px;

}

/* Footer */

.footer {
  height: 4rem;
  font-size: 1rem;
  width: 100%;
  border-top: 1px solid #D8D8D8;
  margin: 0;
}


.footer p {
  padding-top: 1rem;
  float: left;
}

.footer ul {
  padding-top: 1rem;
  float: right;
}
