body {
  font-size: 16px;
  margin: 0;
  border: 0;
  font-family: Helvetica;
  height: auto;
  background-color: #FFFFFF;
  width: auto;
  color: #4A4A4A;

}

div {
  border: 1px solid #D8D8D8;
  display: block;
}

h1{
  font-size: 6rem;
  font-weight: bold;
}

h2 {
  text-align: center;
}



/* Header */

.header {
  background-color: white;
  display: flex;
  position: absolute;
  align-items: center;
  height: 64px;
  width: 100%;
  font-size: 2.5rem;
  flex-grow: 3;
  margin: 0;

}

.header .logo {
  float: left;
  width: 50%;
  height: auto;
}

.header .logo img {
  height: 56px;
  width: auto;
}

.header span {
  display: flex;
  align-items: center;

}

#nav {
  display: flex;
  width: 50%;
  height: auto;
  align-items: center;
  justify-content: flex-end;
}

ul {
  list-style-type: none;
  align-items: center;

}

li {
  float: right;
  padding-right: 1rem;
  color: black;
}

li a {
  text-decoration: none;
  color: black;
  padding-right: 16px;
}

/* Start */

.start {
  display: flex;
  align-items: center;
  flex-direction: row;
  position: inherit;
  width: 100%;
  background-color: #D8D8D8;
  margin: 0px;

}

.start .banner {
  width: 60%;
  height: auto;
  margin-left: 0;
  margin-top: 64px;
  position: relative;
  padding: 32px 24px 32px 24px;


}

.banner img {
  width: 95%;
}

.start .description  {

  display: flex;
  width: 40%;
  height: auto;
  padding-left: 16px;
  flex-direction: column;
  float: left;
  color: #4A4A4A;


}

.start .description,h1 {
  font-size: 6rem;
  text-align: left;
  font-weight: bold;
  height: auto;
  width: 40%;

}

.start .description p {
  font-size: 3rem;
  text-align: left;
  width: 40%;
  line-height: 5rem;
  padding-top: 32px;
}

.start .description span {
  font-size: 3rem;
  color: white;
  width: 40%;
  padding: 8px;
  text-align: center;
  background-color: #4A4A4A;

}

/* Information */

.information {
  display: flex;
  flex-direction: row;
  position: relative;

}

.information .information-banner {
  width: 60%;
  padding-left: 24px;

}
.information .information-banner img {
  width: 95%;
  padding: 32px 24px 32px 0;
}

.information .information-banner,h1 {
  font-size: 6rem;
  font-weight: bold;
  display: inline-block;


}

.information .information-banner p {
  font-size: 3rem;
  padding-top: 24px;
}

.information .information-side {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-top: 32px;

}

.information .information-side h3 {
  font-size: 4rem;
  font-weight: bold;
  padding-top: 250px;
}

.information .information-side p {
  font-size: 2rem;
  padding: 32px 32px;
}

.information .information-side span {
  font-size: 2rem;
  color: mediumblue;
  padding-top: 32px;
}

.information .information-side #orientation {
  height: auto;
  margin-bottom: 1px;

}

.information .information-side #orientation img {
  width: 30%;
  float: left;
  height: auto;
  padding: 16px 16px;
}

.information .information-side #campus {
  width: auto;
  height: auto;
  margin-bottom: 1px;
}

.information .information-side #campus img {
  width: 30%;
  float: left;
  height: auto;
  padding: 16px 16px;
}

.information .information-side #guest-lecture {
  width: auto;
  height: auto;
  margin-bottom: 1px;
}

.information .information-side #guest-lecture img {
  width: 30%;
  float: left;
  height: auto;
  padding: 16px 16px;
}
/* Learn */

#learn {
  position: relative;
  margin: 0;
  background-color: #D8D8D8;
}

#learn,h1 {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}




.courses {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.courses .container {
  width: 30%;
  background-color: #FFF;
  margin: 32px;
  text-align: left;
}

.courses .container img {
  width: 100%;
}

.courses .container h3 {
  font-size: 3rem;
  padding: 16px;
  font-weight: bold;
}

.courses .container h4 {
  font-size: 2.5rem;
  text-decoration: uppercase;
  padding:  8px 0 8px 16px;
}

.courses .container p {
  font-size: 2rem;
  padding: 0 0 24px 16px;
}



/* Thesis */
.thesis {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.thesis,h1 {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}
.thesis-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  height: auto;
  justify-content: flex-start;
}

#thesis-video {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-left: 24px;
}



#thesis-video video {
  width: 100%;
  padding-right: 16px;
}

#thesis-video h3 {
  font-size: 3rem;
  font-weight: bold;
  padding: 24px 0;
}

#thesis-video p {
  font-size: 2rem;
  padding-bottom: 32px;
}


.thesis .thesis-container .thesis-side {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: auto;
  justify-content: flex-start;

}


.thesis .thesis-container .thesis-side h3 {
  font-size: 4rem;
  font-weight: bold;
  padding-top: 250px;

}

.thesis .thesis-container .thesis-side p {
  font-size: 2rem;
  padding-top: 32px;
  display: inline-block;

}

.thesis .thesis-container .thesis-side #fisma {
  height: auto;
  margin-bottom: 1px;

}

.thesis .thesis-container .thesis-side #fisma img {
  width: 30%;
  float: left;
  height: auto;
  padding: 16px 16px;

}

.thesis .thesis-container .thesis-side #now-and-then {
  height: auto;
  margin-bottom: 1px;

}

.thesis .thesis-container .thesis-side #now-and-then img {
  width: 30%;
  float: left;
  height: auto;
  padding: 16px 16px;

}

/* Footer */

.footer {
  height: 4rem;
  font-size: 2rem;
}

.footer p {
  padding-top: 1rem;
  float: left;
}

.footer ul {
  padding-top: 1rem;
  float: right;
}
